@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    background-color: #747474;
    padding: 1rem 4rem;
}

.playing-board {
    background-image: url("../images/background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-frame {
    font-family: "Special Elite", sans-serif;
    text-align: center;
    padding: 1rem 0rem 1rem 1rem;
    margin-top: 1rem;
    background-color: #fff;
    color: #010203;
    font-size: 2rem;
    height: 7rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5%;
    box-shadow: .1rem .1rem .1rem .1rem rgba(0,0,0, .5);
    border: solid 1px rgb(233, 140, 140);
}

.card-img-even {
    background-image: url("../images/odd-background-1.jpg");
}

.card-img-odd{
    background-image: url("../images/even-background-1.jpg");
}

.card-frame img {
    max-width: 100%;
    max-height: 100%
}

.card-word {
    position: relative;
    top: 1.5rem;
}

.card-matched {
    transition: 5s;
}

.faceUp {
    transform: scale(1.05);
    box-shadow: .4rem .4rem .4rem .4rem rgba(0, 0, 0, .5);
    background-image: linear-gradient( rgb(233, 140, 140), rgb(249, 255, 46), rgb(233, 140, 140) );
 }