@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    background-color: #747474;
    padding: 1rem 4rem;
}


.card-frame {
    font-family: "Special Elite", sans-serif;
    text-align: center;
    padding: 1rem 0rem 1rem 1rem;
    margin-top: 1rem;
    background-color: #fff;
    color: #010203;
    font-size: 1.5rem;
    height: 7rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}

.card-img-even {
    background-image: url("../images/odd-background.jpg");
}

.card-img-odd{
    background-image: url("../images/even-background.jpg");
}

.card-frame img {
    max-width: 100%;
    max-height: 100%
}

.card-word {
    position: relative;
    top: 1.5rem;
}
