@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    background-color: #747474;
    padding: 1rem 1rem;
    font-family: "Special Elite", sans-serif;
    text-align: center;

}

.playing-board {
    background-image: url("../images/background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
    min-height: 100vh;
}

.card-frame {
    padding: 1rem 0rem 1rem 1rem;
    margin-top: 1rem;
    background-color: #fff;
    color: #010203;
    font-size: 1.5rem;
    height: 7rem;
    background-size: 100% 100%;
    border-radius: 5%;
    box-shadow: .1rem .1rem .1rem .1rem rgba(0,0,0, .5);
    border: solid 1px rgb(233, 140, 140);
}

@media (max-width: 991.98px) { 
    .start-screen,
    .card-frame {
        font-size: 1rem;
    } 
    
}

.card-img-even {
    background-image: url("../images/odd-background-1.jpg");
}

.card-img-odd{
    background-image: url("../images/even-background-1.jpg");
}

.card-frame img {
    max-width: 100%;
    max-height: 100%
}

.card-word {
    position: relative;
    top: 1.5rem;
}

.card-matched {
    transition: 5s;
}

.faceUp {
    transform: scale(1.05);
    box-shadow: .4rem .4rem .4rem .4rem rgba(0, 0, 0, .5);
    background-image: linear-gradient(rgb(233, 140, 140), rgb(249, 255, 46), rgb(233, 140, 140));
 }

 .timer-frame {
    color: rgb(0, 255, 21);
    text-shadow: 0rem 0rem .5rem rgb(0, 204, 255);
    height: 5rem;
    margin: 2rem 0rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(0, 0, 0, .5);
 }

 .timer-frame p {
    position: relative;
    top: .5rem;
 }

 .start-screen {
    display: none;
    position: absolute;
    left: 0;
    right:0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: rgb(0, 255, 21);
    z-index: 1;
    font-size: 1.5rem;
 }
.start-screen h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
 .start-screen p,
 .start-screen select,
 .start-button{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: rgb(0, 255, 21);
    text-shadow: 0rem 0rem .5rem rgb(0, 204, 255);
 }

.start-screen-description {
    display: inline-block;
    margin: 0;
    text-align: left;
    width: 40%;
}

.start-screen-choice {
    padding-top:.5rem;
    padding-bottom:.5rem;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 40%;
    background-color: rgba(0, 0, 0, .25)
}

.start-button {
    position: relative;
    left: 50%;
    right: 50%;
    display: block;
    background-color: rgba(0, 0, 0, .25);
    transition: 1s;
}

.start-button:hover {
    background-color: rgba(0, 0, 0, .75);
    transform: scale(1.1);
}